/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  outline: none;
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-text);
  transform: scaleX(0);
  transition: 0.3s;
}

.theme-menu__button:disabled:before {
  opacity: 0.6;
  position: absolute;
  content: '▶';
  left: -20px;
  top: 7px;
  transform: translateY(-50%);
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

@keyframes arrow-move {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-50%)
    translateX(4px);
  }
  100% {
    transform: translateY(-50%);
  }
}

.button-primery::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-text);
  transition: width 0.5s ease-in-out;
}

.button-primery:hover::before {
  width: 100%;
}

.button-primery::after {
  content: '';
  position: absolute;  
  top: 0;
  right: 0;  
  width: 0;
  height: 100%; 
  background-color: var(--main-text); 
  mix-blend-mode: difference;  
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.button-primery:hover .button__text {
  color: var(--text-color-button);
}

.button-primery:hover::after {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.button-primery::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-text);
  transition: width 0.5s ease-in-out;
}

.button-diskette:hover::before {
  width: 100%;
}

.button-diskette:hover .icon  {
  z-index: 1;
}

.button-diskette:hover .icon svg {
  stroke: var(--text-color-button);
  mix-blend-mode: difference; 
}
