/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-text);
  font-family: var(--inter-font, sans-serif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  background-image: repeating-linear-gradient(
      to right,
      transparent,
      transparent 2px,
      var(--bg-gradient) 2px,
      var(--bg-gradient) 4px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 2px,
      var(--bg-gradient) 2px,
      var(--bg-gradient) 4px
    ),
    linear-gradient(to bottom, var(--gradient-last));
  height: 100vh;
  font-variation-settings: "wdth" var(--wght-text);
}

.header {
  text-align: center;
  height: 100vh;
}

button {
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border: none;
  position: relative;
  padding: 0;
}

button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  outline: none;
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

h3 {
  font-family: var(--inter-font, sans-serif);
  font-weight: var(--wght-title);
  line-height: 21.78px;
  font-size: 18px;
  margin: 3px 0 5px 10px;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 12px;
}

.card-header {
  font-size: 18px;
  font-style: normal;
  font-weight: var(--wght-title);
  line-height: normal;
  font-variation-settings: "wght" var(--wght-title);
}

.container {
  margin: 0 auto;
  width: clamp(375px, 100%, 700px);
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.card-image {
  background: var(--bg-color);
  position: relative;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid var(--main-text);
  border-top: 2px solid var(--main-text);
}

.card-description {
  font-family: var(--inter-font, sans-serif);
  line-height: 21px;
  margin: 25px;
  font-weight: 400;
  font-size: 18px;
}

p {
  margin-bottom: 27px;
}

.card-float-tags {
  text-shadow: -1px 0 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 25px;
  font-weight: 400;
  font-family: var(--PressStart2P-font);
  font-size: 14px;
  color: var(--main-text);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 0.5px var(--bg-color)) or
    (-webkit-text-stroke: 0.5px var(--bg-color))
) {
  .card-float-tags {
    -webkit-text-stroke: 0.5px var(--bg-color);
    text-shadow: none;
  }
}

.text-place {
  margin-block-end: 25px;
}

.card__like-button {
  border: 2px solid var(--main-text);
  width: 130px;
  height: 38px;
  font-family: var(--PressStart2P-font);
  text-transform: none;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text);
  outline: none;
  transition: 0.3s;
}

.card__icon-button {
  outline: none;
  cursor: pointer;
}

.like-icon {
  width: 37px;
  height: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-text);
  transition: 0.3s ease;
}

.grayscale {
  filter: grayscale(0.75);
}

.saturate {
  filter: saturate(300%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(100%);
}

.blur {
  filter: blur(5px);
}

.hue {
  filter: hue-rotate(100deg) blur(3px) sepia(30%) opacity(90%);
}

.sparks {
  opacity: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-diskette {
  text-transform: none;
  background-color: var(--bg-color);
  font-family: var(--PressStart2P-font);
  border: 2px solid var(--main-text);
  padding: 15px 20px 15px 22px;
  line-height: 12.6px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 8px;
  margin-bottom: 105px;
}

.button-diskette:focus {
  outline: none;
}

.button-diskette:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text);
  outline: none;
  transition: 0.3s;
}

.icon-diskette {
  margin-right: 8px;
}

.button__text {
  position: relative;
  color: var(--main-text);
  transition: color 0.5 ease-in-out;
}

.popup-icon-title {
  display: flex;
  align-items: center;
  gap: 20px;
  fill: var(--main-text);
  padding-block-end: 12px;
}

.title-popup {
  font-family: var(--PressStart2P-font);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: var(--main-text);
}

#dialog-id {
  max-inline-size: 24.6%;
  min-inline-size: 341px;
  padding: 30px;
  position: fixed;
  inset: 0;
  border: 2px solid var(--main-text);
  background-color: var(--bg-color);
}

#dialog-id::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dialog-id:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.icon-popup {
  display: flex;
  width: 39px;
  height: 39px;
  color: var(--main-text);
}

.btn-footer-popup {
  background-color: var(--bg-color);
  font-family: var(--PressStart2P-font);
  display: flex;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--main-text);
  text-transform: uppercase;
  font-size: 14px;
  margin-block-start: 18px;
  height: 38px;
  width: 294px;
  align-items: center;
  justify-content: center;
}

.btn-footer-popup:focus {
  outline: none;
}

.btn-footer-popup:focus-visible {
  box-shadow: 2px 2px 0 var(--main-text);
  outline: none;
  transition: 0.3s;
}

@media (max-width: 3000px) {
  .header-title {
    font-size: clamp(3.0625rem, 2.6884rem + 1.5962vw, 4.125rem);
    font-weight: 400;
    margin-top: 20%;
    margin-block-end: 20px;
  }

  .welcom-menu {
    border: 2px solid var(--main-text);
    background: var(--bg-color);
    margin-block-start: 14%;
    font-family: var(--PressStart2P-font);
  }

  .theme-menu {
    margin-block-end: 25px;
    display: flex;
    text-align: left;
    justify-content: center;
    margin-left: 2%;
  }

  .subtitle {
    font-weight: 400;
    line-height: 23px;
    margin-block-end: 20px;
    text-transform: uppercase;
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  }

  .card {
    border: 2px solid var(--main-text);
    background: var(--bg-color);
    position: relative;
    margin-block-end: 53px;
  }

  .icon {
    display: flex;
    width: 21px;
    height: 21px;
    color: var(--main-text);
  }

  .card-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
    padding-bottom: 22px;
    padding-right: 25px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100% !important;
    grid-template-columns: 100%;
  }

  .theme-menu {
    margin-left: 6%;
    margin-block-end: 24px;
  }

  .subtitle {
    margin-block-end: 17px;
  }

  .header-title {
    margin-top: 32%;
    font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
    margin-block-end: 17px;
  }

  .welcom-menu {
    margin-block-start: 27%;
  }

  h2 {
    font-weight: 400;
    line-height: 23px;
    margin-block-end: 20px;
    text-transform: uppercase;
  }

  .icon {
    display: flex;
    width: 28px;
    height: 28px;
    color: var(--main-text);
  }

  .button-diskette {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 102px;
  }

  .card {
    margin-block-end: 50px;
  }

  .card-footer {
    gap: 5px;
    padding-bottom: 20px;
  }
}
