/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --inter-font: "Inter";
  --PressStart2P-font: "PressStart2P";
  --main-text: #000;
  --bg-color: #fff;
  --bg-gradient: #e7e7e7, #1a1a1a;
}
